
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Cairo:wght@600&family=Lexend+Deca:wght@300;400&family=Rubik:ital,wght@0,400;0,500;0,600;1,300&display=swap');
body {
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Cairo', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
